/* AuthForm Component - BEM naming convention */

.authForm__toggleButton {
	font-size: 14px;
	font-weight: 500;
	color: rgb(59, 130, 246);
	text-decoration: underline;
	cursor: pointer;
	margin-top: 24px;
	text-align: center;
	transition: color 0.15s ease-in-out;
}

.authForm__toggleButton:hover {
	color: rgb(29, 78, 216);
}
