.login__title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.login__formGroup {
	margin-bottom: 1rem;
}

.login__formGroupLast {
	margin-bottom: 1.5rem;
}

.login__formGroupLabel {
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	display: block;
}

.login__formInput {
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid #d1d5db;
	border-radius: 0.25rem;
	outline: none;
	color: black;
	font-size: 15px;
}

.login__formInput:focus {
	ring: 2px;
	ring-color: rgb(59, 130, 246);
	box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.login__error {
	color: rgb(239, 68, 68);
	font-size: 0.875rem;
	margin-bottom: 1rem;
	text-align: center;
}

.login__button {
	width: 100%;
	background-color: rgb(59, 130, 246);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: background-color 0.15s ease-in-out;
	border: none;
	cursor: pointer;
	color: white;
}

.login__button:hover {
	background-color: rgb(37, 99, 235);
}

.login__buttonDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.login__buttonDisabled:hover {
	background-color: rgb(59, 130, 246);
}
