.register__title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 24px;
}

.register__formGroup {
	margin-bottom: 16px;
}

.register__formGroupLast {
	margin-bottom: 24px;
}

.register__formGroupLabel {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
	display: block;
}

.register__formInput {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #d1d5db;
	border-radius: 4px;
	outline: none;
	color: black;
	font-size: 15px;
}

.register__formInput:focus {
	ring: 2px;
	ring-color: rgb(59, 130, 246);
	box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.register__error {
	color: rgb(239, 68, 68);
	font-size: 14px;
	margin-bottom: 16px;
	text-align: center;
}

.register__button {
	width: 100%;
	background-color: rgb(59, 130, 246);
	padding: 8px 16px;
	border-radius: 4px;
	transition: background-color 0.15s ease-in-out;
	border: none;
	cursor: pointer;
	color: white;
}

.register__button:hover {
	background-color: rgb(37, 99, 235);
}

.register__buttonDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.register__buttonDisabled:hover {
	background-color: rgb(59, 130, 246);
}
