.rightSection__container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.rightSection__workspaceContainer {
	width: 100%;
	padding: 32px;
	height: 100vh;
}

.rightSection__logoutButtonContainer {
	position: absolute;
	top: 16px;
	right: 16px;
}

.rightSection__authContainer {
	background-color: #282a36;
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0 25px 50px -12px rgb(17, 24, 39);
	width: 100%;
	max-width: 384px;
}

@media (min-width: 1024px) {
	.rightSection__container {
		flex: 1;
	}
}
