.dropdown__container {
	position: relative;
	display: inline-block;
}

.dropdown__buttonActive {
	background-color: #1d1f28 !important;
}

.dropdown__content {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
	z-index: 10;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}
