.dropdown__container {
	position: relative;
	display: inline-block;
}

.dropdown__buttonActive {
	background-color: #1d1f28 !important;
}

.dropdown__content {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 0.5rem;
	z-index: 10;
}
