.languageMenu__container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 120px;
}

.languageMenu__icon {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.5rem;
}

.languageMenu__list {
	background-color: #282a36;
	border-radius: 0.75rem;
	width: 200px;
	font-weight: 500;
	font-size: 0.875rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}

.languageMenu__item {
	padding: 0.75rem 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
}

.languageMenu__item:hover {
	background-color: #1d1f28;
}

.languageMenu__itemActive {
	color: rgb(59, 130, 246);
	font-weight: 900;
}
