.title__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	margin-right: 20px;
}

.title__input {
	background-color: transparent;
	text-align: center;
	border: 2px solid #6272a4;
	border-radius: 8px;
	outline: none;
	font-size: 14px;
	padding: 8px;
	min-width: 22ch;
	width: 22ch;
}

.title__input:focus {
	border-color: #8be9fd;
}

.title__inputDisabled {
	opacity: 0.5;
	cursor: not-allowed;
}
