.leftSection__container {
	display: flex;
	position: relative;
	height: 100vh;
}

.leftSection__content {
	flex: 1;
	background-image: url("/assets/home-right-bg.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.leftSection__Button {
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgb(34, 211, 238);
	border: 1px solid rgb(34, 211, 238);
	border-radius: 0.5rem;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	font-family: monospace;
	box-shadow: 0 10px 15px -3px rgba(34, 211, 238, 0.5),
		0 4px 6px -4px rgba(34, 211, 238, 0.5);
	font-weight: 900;
	transition: transform 0.15s ease-in-out;
	text-decoration: none;
	display: inline-block;
}

.leftSection__Button:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 15px -3px rgba(34, 211, 238, 0.8),
		0 4px 6px -4px rgba(34, 211, 238, 0.8);
}

.leftSection__notice {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	font-weight: 900;
	font-size: 1.125rem;
	font-family: monospace;
	width: 60%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration-color: rgb(6, 182, 212);
}

.leftSection__shadowOverlay {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 5%;
	box-shadow: 20px 0px 15px 0px rgba(20, 20, 30, 0.75);
}
